doc/
fancy2D/bin/
fancy2D/obj/
fancy2D/extern/DirectShowClass/bin/
fancy2D/extern/DirectShowClass/obj/
fancy2D/extern/freetype/bin/
fancy2D/extern/freetype/obj/
fancy2D/extern/libogg/lib/
fancy2D/extern/libogg/obj/
fancy2D/extern/libvorbis/lib/
fancy2D/extern/libvorbis/obj/
fancylib/bin/
fancylib/obj/
fancyUI/bin/
fancyUI/obj/
TestCpp/bin/
TestCpp/obj/
tools/FCYResPackageEditor/bin/
tools/FCYResPackageEditor/obj/
WinConsole.lnk
cloc.exe
cloc.bat
fancy2D.chm
*.sdf
*.suo
.netrc