doc/
fancy2D/bin/
fancy2D/obj/
fancy2D/extern/DirectShowClass/bin/
fancy2D/extern/DirectShowClass/obj/
fancy2D/extern/freetype/bin/
fancy2D/extern/freetype/obj/
fancy2D/extern/libogg/lib/
fancy2D/extern/libogg/obj/
fancy2D/extern/libvorbis/lib/
fancy2D/extern/libvorbis/obj/
fancylib/bin/
fancylib/obj/
fancyUI/bin/
fancyUI/obj/
fancyUI/bak/
TestCpp/bin/
TestCpp/obj/
TestCpp/DemoRes/bak/
TestCpp/DemoRes/bak2/
tools/FCYResPackageEditor/bin/
tools/FCYResPackageEditor/obj/
tools/FMM_3DSMAX_ExportPlugin/lib/
tools/FMM_3DSMAX_ExportPlugin/obj/
WinConsole.lnk
cloc.exe
cloc.bat
*.chm
*.sdf
*.opensdf
.netrc
/tools/FMMMetadataEditor/bin

/tools/FMMMetadataEditor/obj
*.suo
/*.opendb
/fancy2D.VC.db
